<% provide(:title, "Accomodations") %>
<h1>Accommodations</h1>
<table style="width:100%">
  <tr>
    <td><div style="text-align:center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3469.2349861734156!2d-95.6223806!3d29.596854500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640e69445d1d28d%3A0x6a635f9536494c87!2sSugar+Land+Marriott+Town+Square!5e0!3m2!1sen!2sus!4v1438501107204" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>    
<td>
<p>
  Complimentary accommodations have been arranged for all guests at the <b>Sugar Land Marriott Town Square</b>. You may contact the hotel and ask for the reservation under <b>Jorge Del Moral</b>. Please contact us at <b>info@mattandaurea.com</b> for any questions your have about your stay!
</p>
</td>		
</tr>
</table>

<h2>
Places to Eat in Sugar Land
</h2>
<p>
The reception dinner will take place on Saturday 25th at 8 p.m. For other meals, explore Sugar Land Town Center. Below is a list of restaurants in the area:
</p>

<ul class="two-col-special">
  <li>Salata</li>
  <li>Smashburger</li>
  <li>Which Wich</li>
  <li>Chick-Fil-A</li>
  <li>TGI Fridays</li>
  <li>Stadia sports Grill</li>
  <li>Lupe Tortilla</li>
  <li>BJ's Restaurant & Brewhouse</li>
  <li>Taisho</li>
  <li>Tierra del Fuego Tx</li>
  <li>Benihana</li>
  <li>The Rouxpour</li>
  <li>Guru Burgers</li>
  <li>Blu Restaurant</li>
  <li>Escalante`s</li>
  <li>Aura Brasserie</li>
  <li>Lasagna House</li>
  <li>Perry's Steakhouse & Grill</li>
  <li>The Burning Pear</li>
  <li>Baker St. Pub & Grill</li>
  <li>Cafe Express</li>
  <li>and many more...</li>
</ul>
<br>
<p>
The <a href="http://www.firstcolonymall.com/">First Colony Mall</a> is also located in the area, along with other shopping centers.
</p>

<div style="text-align:center">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13877.70965252864!2d-95.625439!3d29.591259!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x821e149cb0c85cb6!2sFirst+Colony+Mall!5e0!3m2!1sen!2sus!4v1438584487650" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
