<% provide(:title, "Home") %>

<head>
<meta name="robots" content="noindex" />
</head>

<div class="center jumbotron" id="a">
  <h1>Matt & Aurea`s Wedding</h1>

  <h2>
    Please join us in the celebration of our wedding on the 25th of June, 2016.
  </h2>
  <%= link_to "RSVP", 'rsvp', class: "btn btn-lg btn-primary" %>
</div>
<div class="container" id="b">

<h1><font size="10" color="#99000d">

</font></h1>

<a href="http://s156.photobucket.com/user/JinKillua/media/Proposal.jpg.html" target="_blank"><img src="http://i156.photobucket.com/albums/t4/JinKillua/Proposal.jpg" border="0" alt="EngagementPhoto.jpg" width=97%/></a>


</div>


