<% provide(:title, "Home") %>
<div class="center jumbotron" id="a">
  <h1>Matt & Aurea`s Wedding</h1>

  <h2>
    Please join us in the celebration of our wedding on the 25th of June, 2016.
  </h2>

  <%= link_to "RSVP", 'rsvp', class: "btn btn-lg btn-primary" %>
</div>
<div class="container" id="b">
<img src = "https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11227768_1120934851268055_2891063910848985178_n.jpg?oh=42a6cd40c1d32a50e782983ab78ea15c&oe=5638E1FF" 
alt="EngagementPhoto" 
style="width:97%; height:97%;">
</div>


