<% provide(:title, "Question") %>

<head>
<meta name="robots" content="noindex" />
</head>

<h1>Your RSVP has been received!</h1>

<p><center><font size=6>Would you like to be redirected to our registry at this time?</font><p>
<p><center>
<%= link_to "Yes", 'registry', class: "btn btn-lg btn-primary"%>
<%= link_to "No", 'home', class: "btn btn-lg btn-primary" %>
</p>
