<% provide(:title, "RSVP") %>

<head>
<meta name="robots" content="noindex" />
</head>


<h1>RSVP</h1>
<p>
We apologize, but the time to RSVP has passed. Please contact us at <b>rsvp@mattandaurea.com</b> for any questions.
</p>
