<% provide(:title, "RSVP") %>
<h1>RSVP</h1>
<p>
Save the Dates and Formal Invitations to follow. RSVP will become available at a later date. Please contact us at <b>matt.and.aurea@gmail.com</b> . Thanks!
</p>

