<% provide(:title, "RSVP") %>
<h1>RSVP</h1>
<p>
Please use the Party Name provided in your invitation.
</p>
<%= form_tag parties_search_path, method: :get do %>
  <%= label_tag :party_name, "Party Name: " %>
  <%= text_field_tag :party_name, nil %>
  <%= submit_tag "Go", :name => nil %>
<% end %>
