<% provide(:title, "RSVP") %>
<h1>RSVP</h1>
<p>
Save the Dates and Formal Invitations to follow. RSVP will become available at a later date. For RSVP questions, please contact us at <b>rsvp@mattandaurea.com</b> . Thanks!
</p>

