<% provide(:title, "Our Story") %>
<h1>Our Story</h1>

<table style="width:100%">
<tr>

<td align="center">

<img src = "https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/553341_1034500876578120_7771529704819313544_n.jpg?oh=3408f39e6dba3bf50e64acc5c87d9f8d&oe=56502F13" 
alt="OurPhoto" 
style="width:80%; height:80%;">

</td>

<td width = "50%">
<h2>Matt Westwick</h2>
<p>Matt is a master`s student in Mechanical Engineering at Texas A&M University. He is also a talented musician and machinist. Matt graduated with a bachelor`s degree in Mechanical Engineering in May 2014 and is now pursuing research in Material Science.  </p>

<h2>Aurea Del Moral</h2>
<p>Aurea is a master`s student in Computer Science at Texas A&M University. She is also part of the Goju Ryu Karate Club and loves baking and cooking on her free time. Aurea graduated with a bachelor`s in Computer Science and Applied Mathematics in December 2014 and is now planning the wedding. She also created this website!</p>

<h2>Matt & Aurea</h2>
<p>They met during their freshman year in calculus class when Matt sat on Aurea`s lab spot and she was forced to move. Later on they became good friends, started dating and 3 and a half years later Matt proposed!</p>

</td>
</tr>

</table>

